$main-color: #ffffff;
$hover-color: #bb2339;
$CeraRoundPro-Medium: "CeraRoundPro-Medium", sans-serif;
$CeraRoundPro-Bold: "CeraRoundPro-Bold", sans-serif;
$CeraRoundPro-Regular: "CeraRoundPro-Regular", sans-serif;
$OpenSans-Regular: "OpenSans-Regular", sans-serif;
$OpenSans-SemiBold: "OpenSans-SemiBold", sans-serif;
$OpenSans-Bold: "OpenSans-Bold", sans-serif;
$Inter-Regular: "Inter-Regular", sans-serif;
$Inter-SemiBold: "Inter-SemiBold", sans-serif;
$Roboto-Regular: "Roboto-Regular", sans-serif;