@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: CeraRoundPro-Regular;
  src: url(../../fonts/CeraRoundPro-Regular.otf);
}

@font-face {
  font-family: CeraRoundPro-Bold;
  src: url(../../fonts/CeraRoundPro-Bold.otf);
}

@font-face {
  font-family: CeraRoundPro-Medium;
  src: url(../../fonts/CeraRoundPro-Medium.otf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(../../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../../fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../../fonts/Roboto-Regular.ttf);
}
